<div class="home-one">
  <img src="../../../assets/images/alex-logo.png" />
  <h1 class="title">{{pageText.title}}</h1>
  <h4>{{pageText.name}}</h4>
  <p class="home-one-item description">{{pageText.description}}</p>
  <p class="home-one-item">{{pageText.email}}</p>
  <div class="container icon-list-container">
    <div class="home-one-item icon-list">
      <button (click)="onIconClick('linkedin')" class="btn icon-item" type="button"><i class="fa fa-linkedin"></i></button>
      <button (click)="onIconClick('gitlab')" class="btn icon-item" type="button"><i class="fa fa-gitlab"></i></button>
      <button (click)="onIconClick('instagram')" class="btn icon-item" type="button"><i class="fa fa-instagram"></i></button>
    </div>
  </div>
  <p class="end">More content to come in the future!</p>
</div>
